// base color
$blue:#324157;
$light-blue:#3A71A8;
$pink: #E65D6E;
$tiffany: #4AB7BD;
$yellow:#FEC171;

$red:#C52322 ;
$green: #30B08F;
$purple:#7961F2 ;





// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; 
$menuBg:#304156;
$menuHover:#263445;


$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  Purplebg:$purple;
  Greenbg:$green;
  Redbg:$red;

  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
}
